* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sky-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.see-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  background-color: #fff;
}

.see-container .ship-container {
  position: absolute;
  top: -95px;
  left: 250px;
  width: 150px;
  height: 100px;
  background-color: #4a6274;
  -webkit-animation: move-ship 12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-ship 12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .ship-container .ship {
  width: 150px;
  height: 100px;
  background-color: #4a6274;
}

.see-container .ship-container .ship::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: #4a6274;
  border-bottom-left-radius: 12px;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

.see-container .ship-container .ship::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -60px;
  width: 150px;
  height: 100px;
  background-color: #4a6274;
  border-bottom-right-radius: 12px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.see-container .ship-container .window {
  position: absolute;
  top: 20px;
  width: 25px;
  height: 25px;
  border: 2px solid #344551;
  border-radius: 50%;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.see-container .ship-container .window-left {
  left: 30%;
}

.see-container .ship-container .window-middle {
  left: 60%;
}

.see-container .ship-container .window-right {
  left: 90%;
}

.see-container .ship-container .roof {
  position: absolute;
  top: -50px;
  left: -20px;
  width: 150px;
  height: 50px;
  background-color: #7197b5;
  border-top-left-radius: 12px;
}

.see-container .ship-container .roof .square {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  border: 2px solid #344551;
  border-radius: 6px;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #b5c4ea 74%);
}

.see-container .ship-container .roof .square-left {
  left: 20%;
}

.see-container .ship-container .roof .square-middle {
  left: 40%;
}

.see-container .ship-container .roof .square-right {
  left: 60%;
}

.see-container .ship-container .roof .square-after {
  left: 80%;
}

.see-container .ship-container .roof .chimney {
  position: absolute;
  top: -40px;
  width: 30px;
  height: 40px;
  background-color: #3d5161;
  border-top: 2px solid tomato;
}

.see-container .ship-container .roof .chimney-one {
  left: 25%;
}

.see-container .ship-container .roof .chimney-two {
  left: 65%;
}

.see-container .ship-container .roof::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -35px;
  width: 75px;
  height: 50px;
  background-color: #7197b5;
  border-top-right-radius: 12px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.see-container .waves {
  position: absolute;
  width: 150vw;
  height: 100vh;
  border-radius: 50%;
}

.see-container .waves-one {
  top: 60px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: move-waves 12s -4s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 12s -4s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .waves-two {
  top: 80px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: move-waves 15s -7s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 15s -7s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .waves-three {
  top: 90px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: move-waves 12s -5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 12s -5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .waves-four {
  background-color: rgba(255, 255, 255, 0.9);
  top: 75px;
  left: -3000px;
  -webkit-animation: move-waves 17s -5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 17s -5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .waves-five {
  background-color: white;
  top: 80px;
  left: -3000px;
  -webkit-animation: move-waves 17s -12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 17s -12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.see-container .waves-six {
  top: 60px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: move-waves 20s -8s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 20s -8s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -105;
}

.see-container .waves-seven {
  top: 80px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: move-waves 22s -14s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 22s -14s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -104;
}

.see-container .waves-eight {
  top: 90px;
  left: -3000px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: move-waves 18s -10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 18s -10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -103;
}

.see-container .waves-nine {
  background-color: rgba(255, 255, 255, 0.9);
  top: 75px;
  left: -3000px;
  -webkit-animation: move-waves 20s -10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 20s -10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -102;
}

.see-container .waves-ten {
  background-color: white;
  top: 80px;
  left: -3000px;
  -webkit-animation: move-waves 24s 24s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-waves 24s 24s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -101;
}

.see-container .waves-eleven {
  position: absolute;
  width: 200vw;
  height: 100vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 75px;
  left: 0px;
  -webkit-animation: move-see 60s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-see 60s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -110;
}

@-webkit-keyframes move-waves {
  from {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
  to {
    -webkit-transform: translateX(4500px);
            transform: translateX(4500px);
  }
}

@keyframes move-waves {
  from {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
  to {
    -webkit-transform: translateX(4500px);
            transform: translateX(4500px);
  }
}

@-webkit-keyframes move-ship {
  from {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
  to {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
}

@keyframes move-ship {
  from {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
  to {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
}

@-webkit-keyframes move-see {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5000px);
            transform: translateX(5000px);
  }
}

@keyframes move-see {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5000px);
            transform: translateX(5000px);
  }
}
/*# sourceMappingURL=main.css.map */